.header {
    position: fixed;
    top: 0;
    background-color: #757575;
    width: 100%
}

.container__header {
    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;    
}

.header__titulo {
    display:flex;
    align-items: center;
    gap:0.5rem; 
}
.header__titulo:hover {
    color:#f08080;
    transform: scale(1.5);
}

.header__menu-principal {
    margin-left:auto;
    display:flex;
    gap:1rem;
 }

.header__nav {
    margin-left:auto;
    display:flex;
    gap:1rem;
 }

.header__nombre {
    font-size: 1rem;
}

.header__nav {
    text-decoration: none;
    font-weight: 500;
    color:#111111;   
}

.header__nav:hover {
    color:#f08080;
    text-decoration: underline;
    transform: scale(1.3);
    
}

.header__nav-link:visited {
    text-decoration: underline;
}

